<!DOCTYPE html>
<html>
<head>
  <title>{% block title %} Cartletter {% endblock %}</title>
  <link href="/static/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
<script src='https://cdn.rawgit.com/pguso/jquery-plugin-circliful/master/js/jquery.circliful.min.js'></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
</head>

<body>
  <div id="header">
    <!-- <h1><a href="{% url "home.views.index" %}">Shopify Demo Application</a></h1> -->
    <h1><a href="https://ebizontek.com/"></a></h1>

    <p id="login-link">
      {% if current_shop %}
      <span class="note">current shop</span> <a href="https://{{ current_shop.domain }}" class="shop_name">{{ current_shop.domain }}</a> <span class="note">|</span>
      <a href="{% url "shopify_app.views.logout" %}">logout</a>
      {% endif %}
  </p>
</div>

<div id="" class="container-fluid clearfix">
    <!-- begin div.main-->
    <div id="main">
      {% block content %}{% endblock %}
  </div>
  <!-- end div.main -->
</div>


<!-- </footer> -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript">

</script>
</body>
</html>
