
    <div class="header-fixed" >
    <ul class="nav nav-pills nav-save">
      <li class="nav-temp" ><a href="/getadmininfo/">Email </a></li>
      <li class="nav-edi" ><a href="/customTemplate/?back">Editor</a></li>
      <li class="nav-suscriber" ><a href="/suscribers/">  Recipients</a></li>
      <li class="nav-set active"><a href="/getadminform/">  Settings</a></li>
  </ul>
  <!--to enter button on d]stripo pages -->
  <ul class="pull-right"></ul>
</div>
<style type="text/css">
/*.nav-pills > li.active > a {
    background: #777777;
}*/
.nav-pills > li.active > a:hover {
    background: #f2f2f2;
    /*color: #f2f2f2;*/
}
input#prev, input#testEmail {
    background: #56baedab;
}

input#prev:hover, input#testEmail:hover, .btn-fx{
	color: #ffffff;
	    background-color: #269abc;
	    border-color: #1b6d85;
}
.active{
  border-bottom: 2px solid blue;
  text-decoration: none;
}

.nav-pills > li.active > a {
    background: #ffffff;
    color: #77777777;
}

</style>
